<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if  %}
        <title>{{ title }} @2021</title>
    {% else %}
        <title>Fernando Nikolas | Portofolio @2021</title>
    {% endif %}

    <!-- Fonts from google -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
    
</head>
<body>
    
</body>
</html>