{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock style %}

{% block content %}
<!-- CONTENT -->
    <!-- I AM -->
    <div class="content-body right-padding">
        <div class="name-tag">
            <div class="medium">I am</div>
            <div class="left-margin line"></div>
            <div class="big">Fernando Nikolas</div>
        </div>
    </div>

    <!-- ABOUT -->
    <div class="content-body centered-text">
        <div><h2>About</h2></div>
        <div class="centered-container">
            <div class="quote quote-with-picture">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Sit ipsam quae et facilis pariatur maiores cumque, 
                alias incidunt nulla qui dolores quod, quibusdam iste voluptatibus 
                delectus eius! Similique, labore odit.
                
            </div>
        </div>
    </div>
    <!-- PROJECTS -->
    <div class="content-body divided-2fr">
        <div class="left-paddingx2 left left-border">
            <div class="table3 centered-container">
                <div class="project-image"><img src="assets/foto1.jpg" alt=""></div>
                <div class="project-image"><img src="assets/foto2.jpg" alt=""></div>
                <div class="project-image"><img src="assets/foto3.jpg" alt=""></div>
                <div class="project-image"><img src="assets/foto4.jpg" alt=""></div>
                <div class="project-image"><img src="assets/foto5.jpg" alt=""></div>
                <div class="project-image"><img src="assets/foto6.jpg" alt=""></div>
            </div>
        </div>
        <div class="right right-padding right-border" style="width: 20%;">
            <h1>PROJECTS</h1>
            <br>Here's my favorite projects
        </div>

    </div>

    <!-- CONTACT -->
    <div class="content-body left-right-paddingx2">
        <h1>Contact</h1>
        <p>
            Feel Free to contact me
        </p>
        <div class="w-form">
            <form id="wf-form-Contact-Form" name="wf-form-Contact-Form" data-name="Contact Form" class="formcontact">
               <div class="flex">
                  <div class="_2column _2columnform"><input type="text" class="input inputhalf w-input" maxlength="256" name="First-Name" data-name="First Name" placeholder="First Name" id="First-Name" required=""></div>
                  <div class="_2column _2columnform"><input type="text" class="input inputhalf w-input" maxlength="256" name="Last-Name" data-name="Last Name" placeholder="Last Name" id="Last-Name" required=""></div>
               </div>
               <input type="email" class="input w-input" maxlength="256" name="email" data-name="Email" placeholder="Email Address" id="email" required="">
               <textarea placeholder="Message..." maxlength="5000" id="Message" name="Message" data-name="Message" required="" class="input inputtextarea w-input"></textarea>


               <input type="submit" value="Submit" data-wait="Please wait..." class="buttonright buttoncontact w-button">
            </form>
         </div>
    </div> 

<!-- CONTENT -->

{% endblock content %}
<!-- CONTENT -->