/* Main Decoration */
a{
    text-decoration: none;
    color: white;
}
body{
    background-image: url(/assets/ellipse2.svg);
    background-repeat: no-repeat;
    background-position-x: -80px;
    background-position-y: -30px;
    background-size: 250px;

}
/* MENU (Semuanya ada di layout.css) */


/* I AM */
.desktop.first{
    text-align: right;
}

    .desktop.i_am{
        font-size: 20pt;
        margin-right:10%;

    }
    .desktop.panam{
        background-color: white;
        height: 2px;
        margin-left:40%;
        margin-right: 10%;
    }
    .desktop.i_am.jobsme{
        position: relative;
        margin-bottom: 0;
        margin-top:0;
        float: right;
        text-align: left;
        font-size: 600%;
    }

.desktop.first{
    background-image: url(/assets/ellipse2.png),url(/assets/jack.png);
    background-position-x: right,10px;
    background-repeat: no-repeat;
    background-position-y: 230px,500px;
    background-size: 300px,40px;
    
}
/* FOOTER */

/* MOBILE */
@media screen and (max-width:425px){
    body{
        background-image: none;
    }
    /* backround bagian 'i'am' */
    .mobile.first{
        background-image: url(/assets/ellipse3.svg),url(/assets/ellipse2.svg),url(/assets/jack.png);
        background-position-x: right,-101px,right;
        background-repeat: no-repeat;
        background-position-y: 0px,280px,200px;
        background-size: auto,auto,60px;
        
    }
    /* MENU 
    (semuanya di layout css)*/

    /* ME */
    .i_am{
        margin-left:20px;
    }

    .i_am.jobsme{
        font-size: 30pt;
    }

    /* PROJECT SESSION */
    .project{
        font-size: 15pt;
        text-align: center;
        }
        
        .project  figure{
        padding:5px 0 6px 0;
        background-color: whitesmoke;
        font-size:medium;
        color:black;
        font-family: 'PT Serif';}
        
        .project img {width: 90%;}

    /* LINK */
    .project a {
        background-color: red;
        color: white;
        padding:2px;
        text-decoration: none;
        font-size: small;
        margin-top: 10px;
    
    }
    .project a:hover {
        background-color: whitesmoke;
        color:black;
    }
    

    /* ABOUT */
    .about {
        font-size: 400%;
        text-align: right;
        background-image: url('/assets/profil.png');      
        background-repeat: no-repeat;
        background-position-x: -170px;
        background-position-y: -170px;  
    }
    
    .about a{
        opacity: 0.5;
        color:white;
    }
    .about a:active{
        opacity: 100%;
        background-color: yellow;
        
    }
} 

/* 
1. baik mobile maupun desktop memiliki style navigasi
yang sama

*/