/* Default */
body {
    background-color: black;
    color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
    margin:0;
    padding:0;
}
.mobile{
    visibility:hidden;
}

/* Menu */
header {
    margin: 5px 0 50px 0;
    padding: 0;
}

/* I am section (div-desktop) */
.desktop.first{
    height: 500px;
    margin-top: 50px;
}

/* MOBILE */
@media screen and (max-width:425px){
    .desktop{
        visibility: hidden;
    }
    .mobile{
        visibility: visible;
    }
    .mobile.first{
        height: 500px;
        
        margin-top: 50px;
    }
} 

/* 


footer {
    color:black;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 0;
  }

  footer a{
      color:black;
      font-family: 'PT Serif';
  }
#projdesktop{
    font-size: 15pt;
    text-align: center;
}

#projdesktop  figure{
    padding:5px;
    background-color: whitesmoke;
    font-size:medium;
    color:black;
    font-family: 'PT Serif';
}
#projdesktop img {
    width: 100%;
}
#projdesktop a {
    background-color: red;
    color: white;
    padding:2px;
    text-decoration: none;
    font-size: small;
    margin-top: 10px;

}
#projdesktop a:hover {
    background-color: tomato;
}

#projdesktop a:active {
    background-color: whitesmoke;
}
#about p{
    position: relative;
    font-size: 400%;
    text-align: right;
    
    background-image: url('/assets/profil.png');
    height:380px;
    background-repeat: no-repeat;
    background-position-x: -170px;
    background-position-y: -170px;
    padding: 0;
    margin: 60px 0 0 0;
}

#about a{
    opacity: 0.5;
    color:white;
}
#about a:active{
    opacity: 100%;
    background-color: yellow;
    
}

/* Mode Mobile */
/* Untuk Mode Responsive
#projmobile{
    display:none;
} */