/* DEFAULT */
body {
background-color: black;
color: whitesmoke;
font-family: 'Source Sans Pro', sans-serif;
margin:0;
padding:0;
}

.mobile{display: none;}

/* LAYOUT MENU */
header {margin: 5px 0 50px 0;padding: 0;}

/* LAYOUT I AM */
.desktop.first{height: 600px;margin-top: 50px;}

/* LAYOUT PROJECT (kosong) */

/* LAYOUT ABOUT (kosong) */

/* FOOTER */
footer{
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 0;
    font-size: 100%;
    position: relative;
    bottom: 0;
    color:black;
}
footer a{
    color:black;
    font-family: 'PT Serif';
}

  /* MOBILE */
@media screen and (max-width:425px){
    .desktop{
    display: none;
    }
    .mobile{
    display: block;
    }
    .first{
    height: 500px;
    margin-top: 50px;
    }
    .about{
        height:380px;
        padding: 0;
        margin: 60px 0 0 0;
    }
} 
