/* DEFAULT */
body {
background-color: black;
color: whitesmoke;
font-family: 'Source Sans Pro', sans-serif;
margin:0;
padding:0;
}

.mobile{display: none;}

/* LAYOUT MENU */
header {margin: 5px 0 50px 0;padding: 0;}

header .desktop{
    font-size:30pt;
}

header nav ul .desktop{
    margin: 0 40px 0 0;
}
header nav ul{
    list-style-type: none;
    padding: 5px 0 0 0;
    text-align: right;
    overflow: hidden;
    font-family: 'PT Serif';
    font-size:110%;
}

header nav ul li{
    display: inline;
    margin-right: 15px;
}

/* LAYOUT I AM */
    /* default */
.first{
    margin-top: 100px;
    }

.desktop.first{
    height: 670px;
    }

/* LAYOUT PROJECT (kosong) */

/* LAYOUT ABOUT (kosong) */

/* FOOTER */
footer{
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 0;
    font-size: 100%;
    position: relative;
    bottom: 0;
    color:black;
}
footer a{
    color:black;
    font-family: 'PT Serif';
}

  /* MOBILE */
@media screen and (max-width:639px){
    .desktop{
    display: none;
    }
    .mobile{
    display: block;
    }

    header nav ul{
        text-align: center;

    }
    .first{
    height: 600px;
    margin-top: 50px;
    }
    .about{
        height:300px;
        padding: 0;
        margin: 60px 0 0 0;
    }
    header nav ul li{
        display: inline;
        padding-left: 10px;
    }
} 
