/* DEFAULT */
body {
display: table;
background-color: black;
color: whitesmoke;
font-family: 'Source Sans Pro', sans-serif;
margin:0;
padding:0;
}

.mobile{display: none;}

/* LAYOUT MENU */
header {margin: 5px 0 50px 0;padding: 0;}

header .desktop{
    font-size:30pt;
}

header nav ul .desktop{
    margin: 0 40px 0 0;
}
header nav ul{
    list-style-type: none;
    padding: 5px 0 0 0;
    text-align: right;
    overflow: hidden;
    font-family: 'PT Serif';
    font-size:110%;
}

header nav ul li{
    display: inline;
    margin-right: 15px;
}

/* LAYOUT I AM */
    /* default */
.first{
    margin-top: 100px;
    }

.desktop.first{
    height: 670px;
    }

/* LAYOUT PROJECT (kosong) */

/* LAYOUT ABOUT (kosong) */

/* LAYOUT CONTACTS */
.desktop.contact {
    text-align: center;
    padding-top: 10%;
}
.desktop.contact form textarea{
    resize: none;
    width: 23%;
    height: 5%;
    text-align: left;
}
.desktop.contact.input{
    color: black;
    background-color:  #4388e2;
    font-size: 12pt;
    margin: 5px 0 0 0;
    outline: 0;
    padding: 10px 30px;
    border: 2px solid #4388e2;
    box-sizing: inherit;
cursor: pointer;
transition: all 0.5s;
}

.desktop.contact.input:hover{border-color: wheat;color:white;
}
/* FOOTER */
body > footer{
    display: table-row;
    margin: 0;
    font-size: 100%;
    bottom: 0;
    color:#1B242F;
    background-color: white;
    /* background-image: url(/assets/sp1.png); */
    /* background-position: 0 10px;
    background-repeat: no-repeat;
    background-size: 130%; */
}
footer  a{
    color:#1B242F;
    font-family: 'PT Serif';
}

  /* MOBILE */
@media screen and (max-width:639px){
    .desktop{
    display: none;
    }
    .mobile{
    display: block;
    }

    header nav ul{
        text-align: center;

    }
    .first{
    height: 600px;
    margin-top: 50px;
    }
    .about{
        height:300px;
        padding: 0;
        margin: 60px 0 0 0;
    }
    header nav ul li{
        display: inline;
        padding-left: 10px;
    }
} 
