body {
    background-color: rgb(26, 24, 24);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 575px;
}
header nav ul{
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    text-align: center;
    overflow: hidden;
}

header nav ul li{
    display: inline;
    padding-left: 10px;
}