body {
    background-color: black;
    color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
header {
    height: 700px;
}
header nav ul{
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    text-align: center;
    overflow: hidden;
    font-family: 'PT Serif';
}


header .whoiam{
    font-size: 30pt;
    padding: 0;
    margin:0;
}
header nav ul li{
    display: inline;
    padding-left: 10px;
}
/* Dekor Atas */
header #decor1 {
    position: absolute;
    top: 25px;
    opacity: 0.2;
    right: 0;
}
/* Dekor Bawah */
header #decor2{
    position: relative;
    top: 150px;
    right: 100px;
    
} 

/* dekor poker */
header #poker {
    position: absolute;
    right: 0;
    bottom: 155px;
}

header #poker img{
    width: 50px;
}
section h3{
    text-align: center;
}
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
  }
section .desktop{
    align-items: center;
}
  section .desktop img{
    width: 5%;
}
section p{
    position: relative;
    font-size: 400%;
    text-align: right;
    color:whitesmoke;
    text-decoration: none;
    opacity: 0.5;
}

/* Mode Mobile */
/* Untuk Mode Responsive */
section .mobile{
    display:none;
}